<ng-container>
  <p-message severity="info" text="Message Content"></p-message>
</ng-container>
<br>
<ng-container>
  <p-message severity="success" text="Message Content"></p-message>
</ng-container>
<br>
<ng-container>
  <p-message severity="warn" text="Message Content"></p-message>
</ng-container>
<br>
<ng-container>
  <p-message severity="error" text="Message Content"></p-message>
</ng-container>
