<!--<p-panel header="Borko Ng" [toggleable]="true"></p-panel>-->
<p-menubar [model]="items">
  <input type="text" pInputText placeholder="Search">
  <button pButton class="p-button-text p-button-plain" label="Logout" icon="pi pi-power-off"></button>
</p-menubar>

